@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>РОСЛИННИЦЯ - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container d-flex flex-column min-vh-100">
        <header class="border-bottom-green">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a asp-action="Index" class="navbar-brand green logo">
                        <img class="green" src="~/img/logo.svg" alt="">
                        РОСЛИННИЦЯ
                    </a>
                    <button class="navbar-toggler green" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                            <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")">
                                <a asp-controller="Home" asp-action="Index" class="nav-link" aria-current="page">Головна</a>
                            </li>
                            <li class="nav-item ms-5 @(ViewContext.RouteData.Values["controller"]?.ToString() == "Cart" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")">
                                <a class="nav-link" asp-controller="Cart" asp-action="Index">Магазин</a>
                            </li>
                            <li class="nav-item ms-5 @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "PlantCare" ? "active" : "")">
                                <a asp-controller="Home" asp-action="PlantCare" class="nav-link">Догляд</a>
                            </li>
                            <li class="nav-item ms-5 @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "Blog" ? "active" : "")">
                                <a asp-controller="Home" asp-action="Blog" class="nav-link">Блог</a>
                            </li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item ms-5">
                                    <a asp-area="Customer" asp-controller="Customer" asp-action="Index" class="nav-link">Кабінет</a>
                                </li>
                            }
                        </ul>
                        <div class="search-container mx-4">
                            <img src="~/img/search.svg" alt="search" onclick="toggleSearch()">
                            <form asp-controller="Home" asp-action="Search" method="get" class="search-form green-light" id="searchForm">
                                <input class="form-control search-input"
                                       type="search"
                                       placeholder="Пошук рослин..."
                                       name="searchTerm"
                                       id="searchInput">
                            </form>
                        </div>
                        <a asp-controller="Wishlist" asp-action="Index"><img src="~/img/heart.svg" alt="" height="26"></a>
                        <a asp-controller="Cart" asp-action="Index" class="mx-4">
                            <img src="~/img/cart.svg" alt="">
                            <span class="position-absolute translate-middle badge bg-green rounded-pill cart-counter">0</span>
                        </a>
                        <partial name="_LoginPartial" />
                        <partial name="_RegisterPartial" />
                    </div>
                </div>
            </nav>
        </header>
        <main role="main" class="flex-shrink-0 mb-5">
            @RenderBody()
        </main>
        <footer class="footer mt-auto pt-5">
            <div class="row">
                <div class="col-6 col-md-2 ms-3">
                    <div class="ball"></div>
                    <img src="~/img/plant.svg" height="90" alt="" class="mb-3 ms-3">
                    <h5><strong>Догляд за садом</strong></h5>
                    <p>Ми - інтернет-магазин рослин, що пропонує широкий асортимент дешевих і модних рослин.</p>
                </div>

                <div class="col-6 col-md-2 ms-3">
                    <div class="ball"></div>
                    <img src="~/img/cactus.svg" alt="" class="mb-3 ms-3">
                    <h5><strong>Реконструкція квітів</strong></h5>
                    <p>Ми - інтернет-магазин рослин, що пропонує широкий асортимент дешевих і модних рослин.</p>
                </div>

                <div class="col-6 col-md-2 ms-3">
                    <div class="ball"></div>
                    <img src="~/img/kettle.svg" alt="" class="mb-3 ms-2">
                    <h5><strong>Полив саду</strong></h5>
                    <p>Ми - інтернет-магазин рослин, що пропонує широкий асортимент дешевих і модних рослин.</p>
                </div>

                <div class="col-md-4 offset-md-1 ">
                    <form>
                        <h4><strong>Бажаєте підписатися на розсилку?</strong></h4>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2 my-3">
                            <div class="input-group">
                                <input type="text" class="form-control border-green" placeholder="E-mail отримувача"
                                       aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-green px-4" type="button" id="button-addon2">Згода</button>
                            </div>
                        </div>
                        <p>
                            Зазвичай ми публікуємо пропозиції та виклики в інформаційній розсилці. Ми - ваш онлайн-портал про
                            кімнатні рослини. Ми пропонуємо широкий асортимент кімнатних рослин та аксесуарів, які
                            доставляються безпосередньо з нашого (зеленого) будинку до вашого!
                        </p>
                    </form>
                </div>
            </div>
            <div class="d-flex green-light gap-1 ps-3 py-2">
                <div class="col-6 col-md-2 my-4">
                    <a class="navbar-brand green logo" href="#">
                        <img class="green" src="~/img/logo.svg" alt="">
                        РОСЛИННИЦЯ
                    </a>
                </div>

                <div class="col-6 col-md-2 d-inline-flex">
                    <img src="~/img/address.svg" width="24" height="24" class="mt-4 me-1" alt="">
                    <a href="#" class="nav-link p-0 text-body-secondary my-3">
                            м.Краматорськ,<br> вул.Героїв України, 3
                    </a>
                </div>

                <div class="col-6 col-md-2 d-inline-flex ms-3">
                    <img src="~/img/mail.svg" width="24" height="24" class="mt-4 me-2" alt="">
                    <a href="#" class="nav-link p-0 text-body-secondary my-4">contact@plantshop.com</a>
                </div>

                <div class="col-md-5 offset-md-1 d-inline-flex">
                    <img src="~/img/phone.svg" width="24" height="24" class="mt-4 me-2" alt="">
                    <a href="#" class="nav-link p-0 text-body-secondary my-4">+38 099 123 45 67</a>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-2 mt-4 ms-3">
                    <h5><strong>Мій кабінет</strong></h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Мій кабінет</a></li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">Наші магазини</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">Зв'язатися з нами</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Кар'єра</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Акції</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mt-4 ms-3">
                    <h5><strong>Довідка</strong></h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">Довідковий центр</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Як купити</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Відвантаження та доставка</a></li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">Товарна політика</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Як повернути</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mt-4 ms-3">
                    <h5><strong>Категорії</strong></h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">Кімнатні рослини</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">Горшкові рослини</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Насіння</a></li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">Маленькі рослини</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Аксесуари</a></li>
                    </ul>
                </div>

                <div class="col-md-4 offset-md-1 mt-4 text-center">
                    <h5 class=""><strong>Соціальні мережі</strong></h5>
                    <ul class="nav justify-content-center mb-3">
                        <li class="nav-item"><a href="#" class="nav-link"><i class="bi bi-instagram green h4"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="bi bi-facebook green h4"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="bi bi-whatsapp green h4"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="bi bi-telegram green h4"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="bi bi-youtube green h4"></i></a></li>
                    </ul>
                    <h5 class=""><strong>Ми приймаємо</strong></h5>
                    <img src="~/img/payments.png" alt="Visa-MasterCard" height="30">
                </div>
            </div>
            <div class="m-auto py-3 border-top">
                <p class="text-center bg-white">&copy; 2024 РОСЛИННИЦЯ. Всі права захищені.</p>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/node_modules/toastr/toastr.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/auth.js" asp-append-version="true"></script>
    <script src="~/js/cart.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
