@model IEnumerable<Plant>

@{
    ViewData["Title"] = "Список Бажаного";
}

<div class="my-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-fill"></i></a></li>
            <li class="breadcrumb-item active"><a href="/">Головна</a></li>
            <li class="breadcrumb-item active"><a href="/Cart">Магазин</a></li>
            <li class="breadcrumb-item" aria-current="page">Список бажань</li>
        </ol>
    </nav>
</div>

@Html.AntiForgeryToken()

<div class="wishlist-container">
    @if (Model.Any())
    {
        <div class="table-responsive mt-5">
            <table class="table">
                <thead>
                    <tr class="border-top">
                        <th class="text-center fw-bold">Фото</th>
                        <th class="text-center fw-bold">Назва</th>
                        <th class="text-center fw-bold">Ціна</th>
                        <th class="text-center fw-bold"></th>
                        <th class="text-center fw-bold"></th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="wish-@item.PlantId" class="align-baseline">
                            <td class="text-center">
                                <a href="/Home/PlantDetails/@item.PlantId">
                                    <img src="@item.ImageUrl" alt="@item.Name" style="max-width: 100px;" class="img-thumbnail" />
                                </a>
                            </td>
                            <td class="text-center">@item.Name</td>
                            <td class="text-center">
                                <span>@item.CurrentPrice.ToString("C2")</span>
                            </td>
                            <td class="mx-auto">
                                <button class="btn btn-green" onclick="addToCart(@item.PlantId, 1)">
                                    В кошик
                                </button>
                               @*  <partial name="_WishlistButton" model="@item.PlantId" /> *@
                            </td>
                            <td class="text-center">
                                
                            </td>
                            <td text-center>
                                <button class="btn btn-danger" onclick="deleteWishItem(@item.PlantId)">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h3 class="green m-5">Ваш список бажань порожній</h3>
    }
</div>

@section Scripts {
    <script>
        function deleteWishItem(plantId) {
            if (confirm('Ви впевнені що хочете видалити?')) {
                $.ajax({
                    url: '/Wishlist/RemoveFromWishList/' + plantId,
                    type: 'POST',
                    data: {
                        "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val(),
                        plantId: plantId
                    },
                    success: function () {
                        // Видаляємо рядок з таблиці
                        $('#wish-' + plantId).remove();
                    }
                });
            }
        }
    </script>
}