@using Plantshop.ViewModels
@model HomeIndexViewModel

@{
    ViewData["Title"] = "Головна";

    string GetPageUrl(int pageNumber)
    {
        var urlParams = new Dictionary<string, string>
        {
            { "pageNumber", pageNumber.ToString() },
            { "sortOrder", Model.CurrentSortOrder ?? "" },
            { "categoryId", Model.CurrentCategoryId?.ToString() ?? "" },
            { "minPrice", Model.CurrentMinPrice.ToString() },
            { "maxPrice", Model.CurrentMaxPrice.ToString() },
            { "isNew", Model.IsNew.ToString() },
            { "isOnSale", Model.IsOnSale.ToString() }
        };

        return Url.Action("Index", urlParams);
    }
}

<div id="carouselAutoplaying" class="carousel slide mt-3" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/slider_1.jpg" class="d-block w-100" height="374" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/slider_2.jpg" class="d-block w-100" height="374" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/slider_3.jpg" class="d-block w-100" height="374" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="row mt-4">
    <div class="col-4 p-4 pe-5">
        <h5><strong>Категорії</strong></h5>
        <ul class="list-group">
            @foreach(var category in Model.Categories)
            {
                <li class="list-group-item border-0 d-inline-flex justify-content-between">
                    <a href="@Url.Action("Index", new { categoryId = category.CategoryId, minPrice = Model.CurrentMinPrice, maxPrice = Model.CurrentMaxPrice, sortOrder = Model.CurrentSortOrder })"
                       class="nav-link @(Model.CurrentCategoryId == category.CategoryId ? "active" : "")">
                        @category.Name
                    </a>
                    <span>(@category.Count)</span>
                </li>
            }
        </ul>
        <div class="card border-0">
            <h5 class="card-title mt-4"><strong>Діапазон цін</strong></h5>
            <div class="card-body">
                <div class="range-slider">
                    <div class="range-selected" style="left: @((int)Model.CurrentMinPrice/20)%; right: @((int)(100 - (int)Model.CurrentMaxPrice/20))%;"></div>
                    <div class="range-input">
                        <input type="range" class="min" min="0" max="2000" value="@Model.CurrentMinPrice" step="10">
                        <input type="range" class="max" min="0" max="2000" value="@Model.CurrentMaxPrice" step="10">
                    </div>
                </div>
            <form asp-action="Index" method="get" id="filterForm">
                <input type="hidden" name="categoryId" value="@Model.CurrentCategoryId" />
                <input type="hidden" name="sortOrder" value="@Model.CurrentSortOrder" />

                <div class="range-price">
                    <div class="input-group">
                        <span class="input-group-text">&#8372;</span>
                        <input type="number" name="minPrice" class="form-control min-price" value="@Model.CurrentMinPrice">
                        <span class="input-group-text">-</span>
                        <input type="number" name="maxPrice" class="form-control max-price" value="@Model.CurrentMaxPrice">
                    </div>
                </div>
                    <button type="submit" class="btn btn-green px-4">Фільтри</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container col-8">
        <div class="d-flex justify-content-between align-items-center">
            <ul class="nav nav-underline text-secondary">
                <li class="nav-item">
                    <a class="nav-link @(!Model.IsNew && !Model.IsOnSale ? "active" : "")"
                       href="@Url.Action("Index", new { categoryId = Model.CurrentCategoryId, minPrice = Model.CurrentMinPrice, maxPrice = Model.CurrentMaxPrice, sortOrder = Model.CurrentSortOrder })">
                        Всі рослини
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(Model.IsNew ? "active" : "")"
                       href="@Url.Action("Index", new { categoryId = Model.CurrentCategoryId, minPrice = Model.CurrentMinPrice, maxPrice = Model.CurrentMaxPrice, sortOrder = Model.CurrentSortOrder, isNew = true })">
                        Нові надходження
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(Model.IsOnSale ? "active" : "")"
                       href="@Url.Action("Index", new { categoryId = Model.CurrentCategoryId, minPrice = Model.CurrentMinPrice, maxPrice = Model.CurrentMaxPrice, sortOrder = Model.CurrentSortOrder, isOnSale = true })">
                        Розпродаж
                    </a>
                </li>
            </ul>
            <div>
                Сортування:
                <select class="nav-item border-0 me-3"
                        onchange="window.location.href='@Url.Action("Index")?categoryId=@Model.CurrentCategoryId&minPrice=@Model.CurrentMinPrice&maxPrice=@Model.CurrentMaxPrice&isNew=@Model.IsNew&isOnSale=@Model.IsOnSale&pageNumber=@Model.Plants.PageIndex&sortOrder=' + this.value">
                    <option selected="@(Model.CurrentSortOrder == "date_desc")" value="date_desc">за замовчуванням (найновіші)</option>
                    <option selected="@(Model.CurrentSortOrder == "price_asc")" value="price_asc">по зростанню ціни</option>
                    <option selected="@(Model.CurrentSortOrder == "price_desc")" value="price_desc">по спаданню ціни</option>
                    <option selected="@(Model.CurrentSortOrder == "name_asc")" value="name_asc">по назві (А-Я)</option>
                    <option selected="@(Model.CurrentSortOrder == "name_desc")" value="name_desc">по назві (Я-А)</option>
                </select>
            </div>
        </div>
        <div class="row g-4 row-cols-1 row-cols-md-3 mt-2">
            @foreach(var plant in Model.Plants.Items)
            {
                <div class="col">
                    <div class="card h-100">
                        @if (plant.IsOnSale)
                            {
                                <div class="discount-badge">- @plant.Discount.DiscountPercentage %</div>
                            }
                        <img src="@plant.ImageUrl" height="250" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><strong>@plant.Name</strong></h5>
                            @if (plant.IsOnSale)
                            {
                                <span class="current-price me-2"><strong>&#8372; @plant.DiscountPrice</strong></span>
                                <span class="old-price"><strong>&#8372; @plant.BasePrice</strong></span>
                            }
                            else
                            {
                                <span class="current-price"><strong>&#8372; @plant.BasePrice</strong></span>
                            }
                            <div class="product-actions">
                                <button type="button" class="btn p-0 green">
                                    <i class="bi bi-cart"></i>
                                </button>
                                <button type="button" class="btn p-0 green">
                                    <i class="bi bi-heart"></i>
                                </button>
                                <a href="./product_view.html" class="btn p-0 green">
                                    <i class="bi bi-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end mt-5">
            @if (Model.Plants.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link"
                       href="@GetPageUrl(Model.Plants.PageIndex - 1)">
                        Попередня
                    </a>
                </li>
            }

            @for (var i = 1; i <= Model.Plants.TotalPages; i++)
            {
                <li class="page-item @(i == Model.Plants.PageIndex ? "active" : "")">
                    <a class="page-link"
                       href="@GetPageUrl(i)">
                        @i
                    </a>
                </li>
            }

            @if (Model.Plants.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link"
                       href="@GetPageUrl(Model.Plants.PageIndex + 1)">
                        Наступна
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
<h2 class="text-center">Наші публікації в блозі</h2>
<p class="text-center">Ми - інтернет-магазин рослин, що пропонує широкий асортимент дешевих і модних рослин.</p>
<div class="row">
    <div class="col">
        <div class="card h-100" style="width: 18rem;">
            <img src="~/img/01.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"><small class="green"><b>12 вересня | Читати за 6 хвилин</b></small></p>
                <h5 class="card-title h5">Кактуси та сукуленти Поради по догляду</h5>
                <p class="card-text">Кактуси - сукуленти - прості у догляді рослини для будь-якого будинку або внутрішнього дворика. </p>
                <a href="#" class="nav-link"><b>Читати далі<i class="bi bi-arrow-right"></i></b></a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100" style="width: 18rem;">
            <img src="~/img/02.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"><small class="green"><b>13 вересня | Читати за 2 хвилин</b></small></p>
                <h5 class="card-title">10 кращих сукулентів для вашої оселі</h5>
                <p class="card-text">Найкраще в підвісних кошиках. Віддає перевагу середньому та високому освітленню.</p>
                <a href="#" class="nav-link"><b>Читати далі<i class="bi bi-arrow-right"></i></b></a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100" style="width: 18rem;">
            <img src="~/img/03.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"><small class="green"><b>15 вересня | Читати за 3 хвилин</b></small></p>
                <h5 class="card-title">Кактуси та сукуленти Поради по догляду</h5>
                <p class="card-text">Кактуси та сукуленти чудово почуваються в контейнерах, і оскільки більшість з них...</p>
                <a href="#" class="nav-link"><b>Читати далі<i class="bi bi-arrow-right"></i></b></a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100" style="width: 18rem;">
            <img src="~/img/04.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"><small class="green"><b>15 вересня | Читати за 3 хвилин</b></small></p>
                <h5 class="card-title">Кращі кімнатні рослини Кімната за кімнатою</h5>
                <p class="card-text">Користь від кімнатних рослин безмежна. На додаток до.</p>
                <a href="#" class="nav-link"><b>Читати далі<i class="bi bi-arrow-right"></i></b></a>
            </div>
        </div>
    </div>
</div>
