@using Plantshop.ViewModels
@model CheckoutViewModel
@{
    ViewData["Title"] = "Оформлення замовлення";
}

<div class="my-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-fill"></i></a></li>
            <li class="breadcrumb-item active"><a href="/">Головна</a></li>
            <li class="breadcrumb-item"><a href="/Cart">Магазин</a></li>
            <li class="breadcrumb-item" aria-current="page">Оформлення замовлення</li>
        </ol>
    </nav>
</div>

<div class="container my-5">
<div class="row">
    <div class="col-md-7 p-3">
        <h4>Оформлення замовлення</h4>
            @using (Html.BeginForm("PlaceOrder", "Checkout", FormMethod.Post, new { id = "checkoutForm", onsubmit = "return true;" }))
            {
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="CartItems" />
                <input type="hidden" asp-for="TotalAmount" />
                <div class="row g-3">
                    
                <div class="col-md-6">
                    <label class="form-label required">Ім'я<span class="text-danger ms-1">*</span></label>
                        <input type="text" id="firstName" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label required">Прізвище<span class="text-danger ms-1">*</span></label>
                    <input type="text" id="lastName" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label required">Email<span class="text-danger ms-1">*</span></label>
                    <input type="email" id="email" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label required">Телефон<span class="text-danger ms-1">*</span></label>
                    <input type="tel" id="phone" class="form-control" required>
                </div>
                <h5>Адреса доставки</h5>
                <div class="col-md-6">
                    <label class="form-label required">Область</label>
                    <select id="region" class="form-select">
                        <option value="">Обрати область</option>
                        <option value="Київська область">Київська область</option>
                        <option value="Харківська область">Харківська область</option>
                        <option value="Львівська область">Львівська область</option>
                        <option value="Полтавська область">Полтавська область</option>
                        <option value="Хмельницька область">Хмельницька область</option>
                        <option value="Донецька область">Донецька область</option>
                        <option value="Черкаська область">Черкаська область</option>
                        <option value="Сумська область">Сумська область</option>
                        <option value="Чернигівська область">Чернигівська область</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="form-label required">Місто</label>
                    <input type="text" id="city" class="form-control">
                </div>
                <div class="col-md-6">
                     <label class="form-label required">Район</label>
                     <input type="text" id="area" class="form-control"  />
                </div>
                <div class="col-md-6">
                    <label class="form-label required">Поштовий індекс</label>
                    <input type="text" id="postIndex" class="form-control">
                </div>
                <div class="col-md-6">
                    <label class="form-label required">Вулиця</label>
                    <input type="text" id="street" class="form-control" placeholder="Назва вулиці">
                </div>
                <div class="col-md-6">
                     <label class="form-label required">Номер будинку</label>
                     <input type="text" id="house" class="form-control" placeholder="Номер будинку">
                </div>
                <div class="col-md-6 mx-auto">
                    <label class="form-label">Квартира (опційно)</label>
                    <input type="text" id="apartment" class="form-control" placeholder="Квартира, люкс, блок тощо.">
                </div>
                <div class="col-md-12">
                    <label class="form-label required" for="postoffice">Відділення</label>
                    <textarea class="form-control" rows="3" id="postOffice" placeholder="Адреса відділення Укрпошти чи Нової пошти"></textarea>
                </div> 
                    <input id="shippingAddress" asp-for="ShippingAddress" type="hidden" rows="3" />
                <div class="container">
                        <div class="row gap-3 mt-5 mx-auto">
                            <h5>Спосіб доставки</h5>

                            <!-- Нова Пошта -->
                            <div class="col-md-3 border rounded p-3 my-3">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="nova-poshta" name="DeliveryMethod" value="НоваПошта">
                                    <label for="nova-poshta" class="form-check-label ms-3">
                                        <img src="~/img/nova-poshta.svg" alt="NovaPoshta" height="30">
                                    </label>
                                </div>
                            </div>

                            <!-- УкрПошта -->
                            <div class="col-md-4 border rounded p-3 my-3">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="ukr-poshta" name="DeliveryMethod" value="УкрПошта">
                                    <label for="ukr-poshta" class="form-check-label ms-3">
                                        <img src="~/img/ukrposhta.svg" alt="UkrPoshta" height="30">
                                    </label>
                                </div>
                            </div>

                            <!-- Самовивіз -->
                            <div class="col-md-3 border rounded p-3 my-3">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="self-pickup" name="DeliveryMethod" value="Самовивіз">
                                    <label for="self-pickup" class="form-check-label ms-3">
                                        <i class="bi bi-truck"></i> Самовивіз
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row gap-3 mt-5 mx-auto">
                            <h5>Спосіб оплати</h5>

                            <!-- Картка -->
                            <div class="col-md-5 border rounded p-3 my-3">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="card-payment" name="PaymentMethod" value="Картка">
                                    <label for="card-payment" class="form-check-label ms-3">
                                        <img src="~/img/payments.png" height="30" alt="Картка">
                                    </label>
                                </div>
                            </div>

                            <!-- Готівка -->
                            <div class="col-md-5 border rounded p-3 my-3">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="cash-payment" name="PaymentMethod" value="Готівка">
                                    <label for="cash-payment" class="form-check-label ms-3">
                                        Накладений платіж
                                    </label>
                                </div>
                            </div>
                        </div>

                </div>
                    <button type="submit" class="btn btn-green col-6 p-2 mt-5 mx-auto" id="submitOrder">Підтвердити замовлення</button>
            </div>
            }
    </div>
    <div class="col-md-5 offset-md-0 px-5 py-3">
        <h5>Ваше замовлення.</h5>
        <table class="table table-borderless">
            <thead>
                <tr class="border-bottom-green">
                    <th scope="col"><b>Продукти</b></th>
                    <th scope="col"></th>
                    <th scope="col"><b>Підсумок</b></th>
                </tr>
            </thead>
            <tbody class="table-group-divider border-bottom-green">
                @foreach (var item in Model.CartItems)
                {
                    <tr class="align-baseline">
                        <td>@item.Plant.Name</td>
                        <td>(x @item.Quantity)</td>
                        <td>@((item.Plant.CurrentPrice * item.Quantity).ToString("C"))</td>
                    </tr>
                }   
            </tbody>
        </table>
        
        <div class="col-md-11 offset-md-2 text-end mx-auto">
            <p class="text-end">
                Маєте код купона? <a asp-controller="Cart" asp-action="Index" class="text-decoration-none green">
                    Натисніть
                    тут
                </a>
            </p>
            <dl class="row pb-2">
                <dt class="col-6 text-start">Проміжний підсумок</dt>
                <dd class="col-6 text-end"><strong>@Model.TotalAmount.ToString("C")</strong></dd>
                <dt class="col-6 text-start">Купон Знижка</dt>
                <dd class="col-6 text-end"><strong>(-) 0.00</strong></dd>
            </dl>
            <dl class="row green-light p-4">
                <dt class="col-6 text-start"><strong>Всього</strong></dt>
                <dd class="col-6 text-end green"><strong>@Model.TotalAmount.ToString("C")</strong></dd>
            </dl>
           
        </div>
    </div>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        // Очищаємо всі обробники подій форми перед додаванням нового
        $(document).ready(function () {
            $("#checkoutForm").off();

            $("#checkoutForm").on("submit", function () {
                console.log("Form submitted");
                $("#submitOrder").prop('disabled', true);
                return true;
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const firstName = document.getElementById('firstName');
            const lastName = document.getElementById('lastName');
            const email = document.getElementById('email');
            const phone = document.getElementById('phone');
            const region = document.getElementById('region');
            const city = document.getElementById('city');
            const area = document.getElementById('area');
            const postIndex = document.getElementById('postIndex');
            const street = document.getElementById('street');
            const house = document.getElementById('house');
            const apartment = document.getElementById('apartment');
            const postOffice = document.getElementById('postOffice');
            const shippingAddress = document.getElementById('shippingAddress');

            const updateShippingAddress = () => {
                shippingAddress.value =
                    `${firstName.value} ${lastName.value}, ${email.value}, ${phone.value} ${region.value}, ${city.value}, ${area.value}, ${postIndex.value} ${street.value} ${house.value} ` +
                    (apartment.value ? `, Apt: ${apartment.value}` : '' + ` ${postOffice.value}`);
            };

            // Додати обробники на зміну даних
            [firstName, lastName, email, phone, region, city, area, postIndex, street, house, apartment, postOffice].forEach(field => {
                field.addEventListener('input', updateShippingAddress);
            });
        });
    </script>
}